html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.main {
     margin: 0 auto;
     padding-top: 32px;
     max-width: 1200px;
     width:100%;
}

.main h1 {
  margin-top: 0;
}

.para {
  width: 800px;
}

.textTitle {
     font-size:20px;
     color:#000000;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.footerR {
  position: relative;
  padding: 1rem;
  text-align: center;
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

.topnavbar {
    background-color: #1d1d1d;
    height: 30px;
}

.topnavbar a {
    float: right;
    display: inline;
    color: #ffffff;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 10px;
}

.topnavbar p {
     float: right;
     display: inline;
     color: #ffffff;
     text-align: center;
     padding: 10px 10px;
     text-decoration: none;
     font-size: 10px;
}

.topnavbar a:hover {
        color: #808080;
        text-decoration: none;
    }

.active, .topnavbar {
    color: #ffffff;
}

.navbarmain {
  font-size: 14px !important;
}
.dropdown:hover > .dropdown-menu {
display: block;
}
