
@{
    ViewBag.Title = "About";
}
<html>
<head>
    <title> About </title>
    <link rel="icon" href="~/Photos/Favicon/favicon.jpg">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background:#ffffff">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <!--Navbar-->
    @Html.Partial("NavbarUpper")
    <!--Body-->
    <div class="row center-block" style="width:1186px;height:40px"></div>
    <div class="row center-block" style="width:1186px;">
        <div class="col-sm-4"><b style="color:#000000;font-size:160%;">The History of NAA</b></div>
    </div>
    <div class="row center-block" style="width:1186px;">
        <div class="col-sm-12"><p class="center-block" style="color:#3d3d3d;font-size:120%">The National Airsoft Assocaition started as a repsonse to the banning of airsoft in Baltimore Maryland, we saw this as the start to our beloved sport falling into the hand of politicians. We decide to grab the reigns and protect our sport as we currently see it.</p></div>
    </div>
    <div class="center-block" style="height:20px;"><p> </p></div>
    <div class="row center-block" style="width:1186px;">
        <div class="col-sm-12"><b class="center-block" style="color:#000000;font-size:120%;">Roster:</b></div>
    </div>
    <div class="row center-block" style="width:1186px;height:20px"></div>
    <div class="row center-block" style="width:1186px;">
        <div class="col-sm-12"><i class="center-block" style="color:#000000;font-size:190%;">Joseph Meyer | CEO and Founder of Meyer Industries and Founder of NAA and IAA</i></div>
    </div>
    <div class="row center-block" style="width:1186px;">
        <div class="col-sm-10"><p class="center-block" style="color:#3d3d3d; font-size:150%;">Joe Meyer is the CEO of Meyer Industries a weapon company for the United States of America. He is also the creator of the NAA and IAA to help protect the rights of airsofters everywhere. He is helping the NAA become a leader in protecting airsoft as we know it today.</p></div>
        <div class="col-sm-1"><img height="220" width="160" src="~/Photos/Employee Pictures/Joe Meyer Profile Pciture (edited).png" /></div>
    </div>
</body>
</html>