 
@{
    ViewBag.Title = "PlacesToAirsoft";
}
<html>
<head>
    <title> Places to Airsoft </title>
    <link rel="icon" href="~/Photos/Favicon/favicon.jpg">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background:#ffffff">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <!--Navbar-->
    @Html.Partial("NavbarUpper")
    <!--Body-->
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Alabama:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Alaska:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Arizona:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Arkansas:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">California:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Colorado:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Connecticut:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Delaware:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Florida:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Georgia:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Hawaii:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Idaho:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Illinois:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;height:600px">
        <div class="col-sm-1"></div>
        <div style="height:400px;width:400px;border:1px;border-style:solid;border-color:#c1c1c1;" class="col-sm-4"><center>Paintball Explosion</center><img class="center-block" src="https://dummyimage.com/300x150/000/fff.png&text=Temp+Photo" /><p>This is a place to paint ball and airsoft. Because balling is great. YEAHHHHHH!</p><a href="/AirsoftLocations/PaintballExplosion">More Information</a></div>
        <div class="col-sm-2"></div>
        <div style="height:400px;width:400px;border:1px;border-style:solid;border-color:#c1c1c1;" class="col-sm-4"><center>Black Ops Airsoft</center><img class="center-block" src="https://dummyimage.com/300x150/000/fff.png&text=Temp+Photo" /><p>Black Ops is a place for just airsoft. Milsim games are every saturday and sunday!</p><p>Location:</p><p>blah</p><p>Admissions:</p><p>$30</p><a href="/AirsoftLocations/BlackopsAirsoft">More Information</a></div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Indiana:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Iowa:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Kansas:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Kentucky:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Louisiana:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Maine:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Maryland:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Massachusetts:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Michigan:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Minnesota:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Mississippi:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Missouri:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Montanna:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Nebraska:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Nevada:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">New Hampshire:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">New Jersey:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">New Mexico:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">New York:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">North Carolina:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">North Dakota:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;"> Ohio:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Oklahoma:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Oregon:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Pennsylvania:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Rhode Island:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">South Carolina:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">South Dakota:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Tennessee:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Texas:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Utah:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Vermont:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Virginia:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Washington:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">West Virginia:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Wisconsin:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><b style="color:#000000;">Wyoming:</b></div>
    </div>
    <div class="row center-block" style="width:1200px;">
        <div class="col-sm-12"><i style="color:#666666;">No Fields</i></div>
    </div>
</body>
</html>

